*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --ff-tex01: 'Montserrat', sans-serif;
  --ff-paragBut: 'DM Sans', sans-serif;
  --ff-text02:'Dancing Script', cursive;
  
  --fc-text01: hsla(238, 27%, 28%);
  --fc-text02: hsla(238, 100%, 0%);
  --fc-but: hsla(238, 0%, 100%);

  --bg-main: hsla(238, 0%,100%);
  --bg-text02: hsl(198, 32%, 92%);
  --bg-but02: hsl(35, 100%, 50%);
  --bg-butHover: hsl(35, 86%, 60%);

}

.hide{
  display: none;
}

body{
  background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 1.6rem;
}

main{
  width: 42.8rem;
  min-height: 42.4rem;

  background: var(--bg-main);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: .5rem;
  display: grid;
  place-items: center;

}

/*card01*/
.wrapper01{ 
  width: 30rem;
  height: 31.2rem;

  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

h1, h2{
  width: 30rem;

  font-family: var(--ff-tex01);
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;

  color: var(--fc-text01);
}

p{
  font-family: var(--ff-paragBut);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: var(--fc-text01);
}

button{
background-color: var(--bg-main);
cursor: pointer;
border: none;
}

#img01:hover{
  animation: tremer .2s;
  animation-iteration-count: infinite;
}

/*Card 02*/

  
.wrapper02{ 
  width: 30rem;
  min-height: 31.2rem;

  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin: 4.8rem;

}

h2{
  margin-bottom: 1.7rem;
}

#text2{
  font-family: var(--ff-text02);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: var(--ff-text02);

  width: 293px;
  height: 107px;
  padding: 1rem;

  background: var(--bg-text02);
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

  animation: downtop 2800ms;
}

#img2{
  margin: 3rem auto;
}

#but02{
  width: 17.4rem;
  height: 5.2rem;

  background: var(--bg-but02);
  border-radius: 4px;

  font-family: var(--ff-paragBut);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;

  text-align: center;

  color: var(--fc-but);

  transition: background .3s;
}


#but02:hover{
  background-color: var(--bg-butHover);
}




@keyframes downtop{
  0% {
    opacity: 0;
    transform: translateY(150px);
    width: 0%;
    font-size: 0%;
  }

}

@keyframes tremer {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 7px;
  }
  50% {
    margin-left: 0;
  }
  75% {
    margin-left: -7px;
  }
  100% {
    margin-left: 0;
  }
}